<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body w-100">
        <img src="{{designData}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="designer-panel row text-center">
  <div class="open-tab float-right"></div>
  <div class="row my-1 w-100">
    <div class="col p-4">
      <label for="tshirt-color">T-Shirt Color:</label>
      <p>     
        <input id="tshirt-color" value="#ffffff"  class="mx-auto " #shirt_color (change)="updateShirtColor(shirt_color.value)" type="color" />
      </p>

      <label for="tshirt-design">T-Shirt Design:</label>
      <select id="tshirt-design" #design (change)="updateShirtImage(design.value)" class="form-control">
          <option value="">Select one of our designs</option>
          <option value="../assets/img/superman.png">Superman</option>
    
      </select>
      <hr class="my-4">
      <label for="tshirt-custompicture">Upload your own design:</label>
      <input type="file" id="tshirt-custompicture" class="form-control mx-auto" (change)="selectCustomDesign($event)" />

      <br>
      <input type="text" [(ngModel)]="shirt_text" class="form-control" placeholder="Shirt Text" />
      <button class="btn btn-secondary btn-block" (click)="updateText(shirt_text)">Add text</button>
      
      <div *ngIf="textboxSelected">
        <select #font_family class="form-control" (change)="updateTextFont(font_family.value)" [(ngModel)]="text_font" >
          <option value="">Choose a font</option>
          <option value="Impact" [ngStyle]="{'font-family': 'Impact'}">Impact</option>
          <option value="Courier" [ngStyle]="{'font-family': 'Courier'}">Courier</option>
          <option value="Pacifico" [ngStyle]="{'font-family': 'Pacifico'}">Pacifico</option>
          <option value="Hanalei Fill" [ngStyle]="{'font-family': 'Hanalei Fill'}">Hanalei Fill</option>
          <option vlaue="Abril Fatface" [ngStyle]="{'font-family': 'Abril Fatface'}">Abril Fatface</option>
          <option value="Shadows Into Light" [ngStyle]="{'font-family': 'Shadows Into Light'}">Shadows Into Light</option>
        </select>
        <br>
        <p>     
          Font color
          <input [(ngModel)]="text_color"  class="mx-auto form-control" #shirt_color_picker (change)="updateTextColor(shirt_color_picker.value)" type="color" />
        </p>  
      </div>
      <hr class="my-4">
      <br>
      <button class="btn btn-dark btn-block btn-lg"(click)="export()" >Export</button>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-12">
      <div class="title-area">
        <h1 class="display-3">
          T-Shirt Designer
        </h1>
        <h3 class="display-5">
          Powered By, Sykes Creatives
        </h3>
      </div>
    </div>
  </div>
  <hr>
  <div class="row my-5">
    <div class="col col-12 shirt_wrapper">
      <!-- Create the container of the tool -->
      <div id="tshirt-div" #shirt>
        <!-- 
            Initially, the image will have the background tshirt that has transparency
            So we can simply update the color with CSS or JavaScript dinamically
        -->
        <img id="tshirt-backgroundpicture" src="../assets/img/background_tshirt.png"/>

        <!-- 
            The container where Fabric.js will work. Notice that in the the style of #canvas
            the width and height need to match with the attributes
        -->
        <div id="drawingArea" class="drawing-area">					
            <div class="canvas-container">
                <canvas id="tshirt-canvas" #design_canvas width="220" height="400"></canvas>
            </div>
        </div>  
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
