

.title-area h1, h2, h3, h4{
    text-align: center;
}

.title-area h1{
    font-family: 'Pacifico', cursive;
}

.title-area h3{
    text-transform: uppercase;
    letter-spacing: 11px;
    font-size:0.8em;
    margin-top:30px;
}

hr{
    border-bottom:1px solid rgba(0,0,0,0.2);
}

.shirt_wrapper{
  
}

.drawing-area{
    position: absolute;
    top: 60px;
    left: 112px;
    z-index: 10;
    width: 220px;
    height: 400px;
}

.canvas-container{
    width: 220px; 
    height: 400px; 
    position: relative; 
    user-select: none;
}


.designer-panel{
    width:80%;
    position: fixed;
    padding:15px;
    z-index: 99;
    
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background:#eee;
    left:-80%;
    top:0px;
    transition:0.3s all ease-in-out;

}

.designer-panel:hover{
    left:0;
}

.open-tab{
    position:absolute;
    right:-60px;
    top:0;
    width:60px;
    height: 60px;
    background:#333;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 99;
}

.open-tab:hover .designer-panel{
    left:0;
}

#tshirt-div{
    width: 452px;
    height: 548px;
    position: relative;
    background-color: #fff;

    top:50%; left: 50%;
    transform: translate(-50%, -50%);
}

#canvas{
    position: absolute;
    width: 200px;
    height: 400px; 
    left: 0px; 
    top: 0px; 
    user-select: none; 
    cursor: default;
}
